.cartCardPer {
    /* background-color: #212529; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 75%;
    padding: 20px 0;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    
  }

  .cartCardPer .divider:last-child{
    display: none;
  }
.cartCardPer .card {
    width: 100% !important; 
    flex-direction: row;
    background-color: #696969;
    border: 0;
    box-shadow: none;
    /* margin: 2em auto; */
    width: unset;
    max-height: 250px;
    padding-left: 20px;
  }
  .cartCardPer .card.dark {
    color: #fff;
  }
  .cartCardPer .card.card.bg-light-subtle .card-title {
    color: dimgrey;
  }
  
  .cartCardPer .card img {
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
    height: 100%;
    object-fit: contain;
    width: 180px;
  }
  .cartCardPer .card-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cartCardPer .text-section {
    max-width: 90%;
  }
  .cartCardPer .cta-section {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .cartCardPer .cta-section .btn {
    padding: 0.3em 0.5em;
    /* color: #696969; */
    width: max-content;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  .cartCardPer .card.bg-light-subtle .cta-section .btn {
    background-color: #898989;
    border-color: #898989;
  }
  .card-text{
    height: unset !important;
  }
  .summary{
    width: 100%;
    background: white;
    border-radius: 5px;
    /* padding: 10px; */
    /* color: white; */
    position: relative;
    max-height: 75vh;
    max-height: 75vh;
    /* height: 100%; */
    margin-bottom: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  .limit_text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .orange_font{
    color:orangered;
    font-weight: 500;
  }
.sum_flex{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.bottom_fix{
    /* position: absolute;
    bottom: 0; */
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
    border-top: 1px solid white;
    align-items: center;
    padding: 15px 10px;
    border-top: 3px dashed #e6e6e6;
    border-bottom: 3px dashed #e6e6e6;
}
.bottom_fix p{
    margin-bottom: unset;
    font-size: larger;
    /* color: white; */
    
}
.proc_pay{
  width: 100%;
  background: #000;
  color: white;
}
.proc_pay:hover{
  background: #4f4f4f;
  color: white;
}

.proc_pay_dis{
  width: 100%;
  background: #4e4e4e;
  color: white;
  cursor:not-allowed !important ;
}
.proc_pay_dis:hover{
  background: #4f4f4f;
  color: white;
}

.summ_par{
  width: 25%;
  position: sticky;
  top: 100px;
  height: 100%;
  /* background: red; */
}

.divider{
  height: 1px;
  background: #4f4f4f;
  width: 100%;
}

.text-dashed{
  color: grey;
}

.summary h3{
  padding: 15px 10px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}

.save_line{
  color: green;
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
}


.text-green{
  color: green;
}

.remove_btn i{
  color: red;
  /* border: 1px solid; */
}

.back_cart_btn{
  color: orangered;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back_cart_btn i{
  font-size: 22px;
}


/* FORM CSS */



hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-gray);
  border: 0;
  margin: 1rem 0;
}

.form_main {
  /* max-width: 40rem; */
  /* padding: 10vw 2rem 0; */
  /* margin: 0 auto; */
  /* height: 100vh; */
  width: 80%;
  padding: 20px;
  margin-right: auto;
}

.form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #89898967;
  padding: .5rem;
  border-radius: .25rem;
  position: relative;
}

.field__label {
  color: var(--color-gray);
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #000;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.button:focus-visible {
  background-color: #333;
}

.field__input option{
  padding-left: 10px;
}

.red_star{
  color: red;
  display: inline-block;
  font-size: 14px;
  height: 1px;
  line-height: 1;
}


.product_cout_link{
  color: orangered;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}


.error_text{
  color: black;
  position: absolute;
  bottom: -40px;
  font-size: 10px;
  background: #ffb8bc;
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(9, 30, 66, 0.13);
  z-index: 1;
  
}

.error_text img{
  position: absolute;
  top: -8px;
  width: 10px;
  height: 10px;
  object-fit: contain;

}


  @media screen and (max-width: 475px) {
    .cart_main{
      flex-direction: column;
    }
    .cartCardPer{
      width: 100%;
    }
    .card {
      font-size: 0.9em;
      flex-direction: column !important; 
      align-items: flex-start;
      height: max-content;
      max-height: unset !important;
    }
    .cartCardPer .card-body{
      flex-direction: column;
    }
    .cartCardPer .cta-section{
      width: 100%;
      max-width: unset;
      flex-direction: row;
      padding-top: 30px;
      align-items: center;
    }
    .cartCardPer .text-section{
      max-width: 100%;
    }
    .summary{
      min-height: 40vh;
    }
  }
  